body { background: #333; }
body { color: #f7f7f7;}

.body-content { padding-top: 20px; width: 100%;}

.search-form { position: relative; z-index: 9;}
.search { color: #aaa; font-size: 16px; position: relative; }
    .search input { text-indent: 24px;}
    .search .fa-search {  left: 10px; position: absolute; top: 8px; }

.card { float: left; margin-bottom: 20px; margin-right: 20px; width: 200px;}
    .card .thumbnail { background-position: 50% 50%; background-size: cover; height: 275px; margin-bottom: 10px;width:200px }
    .card .title { color: #fff; display: block; }
    .card .abstract { color: #999; display: block; font-size: .9em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

    .search-box .card { max-height: 322px; min-height: 322px;}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes pulse {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  50% {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes pulse {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  50% {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  } 
  
  .slide-in-right {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  } 


.result-enter {
  opacity: 0.01;
}

.result-enter.result-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.result-leave {
  opacity: 1;
}

.result-leave.result-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* modify control-labels */
.control-label, .checkbox > label { color: #999 }


/* modify modals */
.modal-body { padding: 24px 24px 16px; }
.modal-content { border-radius: 2px; }
.modal-header { border: none; padding: 24px 24px 0; }
.modal-footer { border: none; padding: 0 7px 7px; }

.btn { border: none; font-weight: bold; padding: 8px 16px; text-transform: uppercase }
.btn:hover { background-color:rgba(153, 153, 153, 0.2);color: inherit; }
.btn-primary { background-color: transparent; color: #337ab7; }
.btn-primary:hover { background-color:rgba(153, 153, 153, 0.2);color: #337ab7; }

.Select, .Select-control {
    position: relative;
}

.Select-arrow-zone, .Select-clear-zone, .Select-loading-zone {
    cursor: pointer;
    text-align: center;
}

.Select, .Select div, .Select input, .Select span {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .Select.is-disabled > .Select-control {
        background-color: #f9f9f9;
    }

        .Select.is-disabled > .Select-control:hover {
            box-shadow: none;
        }

    .Select.is-disabled .Select-arrow-zone {
        cursor: default;
        pointer-events: none;
    }

.Select-control {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    cursor: default;
    display: table;
    height: 36px;
    outline: 0;
    overflow: hidden;
    width: 100%;
}

.is-searchable.is-focused:not(.is-open) > .Select-control, .is-searchable.is-open > .Select-control {
    cursor: text;
}

.Select-control:hover {
    box-shadow: 0 1px 0 rgba(0,0,0,.06);
}

.is-open > .Select-control {
    background: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #b3b3b3 #ccc #d9d9d9;
}

    .is-open > .Select-control > .Select-arrow {
        border-color: transparent transparent #999;
        border-width: 0 5px 5px;
    }

.is-focused:not(.is-open) > .Select-control {
    border-color: #007eff;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 0 3px rgba(0,126,255,.1);
}

.Select-placeholder, :not(.Select--multi) > .Select-control .Select-value {
    bottom: 0;
    color: #aaa;
    left: 0;
    line-height: 34px;
    max-width: 100%;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
    top: 0;
    white-space: nowrap;
}

.Select-arrow-zone, .Select-clear-zone, .Select-loading, .Select-loading-zone {
    position: relative;
    vertical-align: middle;
}

.has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value .Select-value-label, .has-value:not(.Select--multi) > .Select-control > .Select-value .Select-value-label {
    color: #333;
}

.has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label, .has-value:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label {
    cursor: pointer;
    text-decoration: none;
}

    .has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label:focus, .has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label:hover, .has-value:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label:focus, .has-value:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label:hover {
        color: #007eff;
        outline: 0;
        text-decoration: underline;
    }

.Select-input {
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

    .Select-input > input {
        -webkit-appearance: none;
        background: none;
        border: 0;
        box-shadow: none;
        cursor: default;
        display: inline-block;
        font-family: inherit;
        font-size: inherit;
        height: 34px;
        margin: 0;
        outline: 0;
        padding: 0;
    }

.is-focused .Select-input > input {
    cursor: text;
}

.has-value.is-pseudo-focused .Select-input {
    opacity: 0;
}

.Select-control:not(.is-searchable) > .Select-input {
    outline: 0;
}

.Select-loading-zone {
    display: table-cell;
    width: 16px;
}

.Select-loading {
    -o-animation: Select-animation-spin .4s infinite linear;
    -webkit-animation: Select-animation-spin .4s infinite linear;
    animation: Select-animation-spin .4s infinite linear;
    border: 2px solid #ccc;
    border-radius: 50%;
    border-right-color: #333;
    box-sizing: border-box;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.Select-clear-zone {
    -o-animation: Select-animation-fadeIn .2s;
    -webkit-animation: Select-animation-fadeIn .2s;
    animation: Select-animation-fadeIn .2s;
    color: #999;
    display: table-cell;
    width: 17px;
}

    .Select-clear-zone:hover {
        color: #D0021B;
    }

.Select-clear {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
}

.Select--multi .Select-clear-zone {
    width: 17px;
}

.Select-arrow-zone {
    display: table-cell;
    padding-right: 5px;
    width: 25px;
}

.Select-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
    display: inline-block;
    height: 0;
    width: 0;
}

.Select-noresults, .Select-option {
    box-sizing: border-box;
    display: block;
    padding: 8px 10px;
}

.Select-arrow-zone:hover > .Select-arrow, .is-open .Select-arrow {
    border-top-color: #666;
}

@-webkit-keyframes Select-animation-fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes Select-animation-fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.Select-menu-outer {
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-color: #e6e6e6;
    box-shadow: 0 1px 0 rgba(0,0,0,.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
}

.Select-menu {
    max-height: 198px;
    overflow-y: auto;
}

.Select-option {
    background-color: #fff;
    color: #666;
    cursor: pointer;
}

    .Select-option:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .Select-option.is-focused {
        background-color: rgba(0,126,255,.08);
        color: #333;
    }

    .Select-option.is-disabled {
        color: #ccc;
        cursor: default;
    }

.Select-noresults {
    color: #999;
    cursor: default;
}

.Select--multi .Select-input {
    margin-left: 10px;
    padding: 0;
    vertical-align: middle;
}

.Select--multi.has-value .Select-input {
    margin-left: 5px;
}

.Select--multi .Select-value {
    background-color: rgba(0,126,255,.08);
    border: 1px solid rgba(0,126,255,.24);
    border-radius: 2px;
    color: #007eff;
    display: inline-block;
    font-size: .9em;
    line-height: 1.4;
    margin-left: 5px;
    margin-top: 5px;
    vertical-align: top;
}

.Select--multi .Select-value-icon, .Select--multi .Select-value-label {
    display: inline-block;
    vertical-align: middle;
}

.Select--multi .Select-value-label {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: default;
    padding: 2px 5px;
}

.Select--multi a.Select-value-label {
    color: #007eff;
    cursor: pointer;
    text-decoration: none;
}

    .Select--multi a.Select-value-label:hover {
        text-decoration: underline;
    }

.Select--multi .Select-value-icon {
    border-bottom-left-radius: 2px;
    border-right: 1px solid rgba(0,126,255,.24);
    border-top-left-radius: 2px;
    cursor: pointer;
    padding: 1px 5px 3px;
}

    .Select--multi .Select-value-icon:focus, .Select--multi .Select-value-icon:hover {
        background-color: rgba(0,113,230,.08);
        color: #0071e6;
    }

    .Select--multi .Select-value-icon:active {
        background-color: rgba(0,126,255,.24);
    }

.Select--multi.is-disabled .Select-value {
    background-color: #fcfcfc;
    border: 1px solid #e3e3e3;
    color: #333;
}

.Select--multi.is-disabled .Select-value-icon {
    border-right: 1px solid #e3e3e3;
    cursor: not-allowed;
}

    .Select--multi.is-disabled .Select-value-icon:active, .Select--multi.is-disabled .Select-value-icon:focus, .Select--multi.is-disabled .Select-value-icon:hover {
        background-color: #fcfcfc;
    }

@keyframes Select-animation-spin {
    to {
        transform: rotate(1turn);
    }
}

@-webkit-keyframes Select-animation-spin {
    to {
        -webkit-transform: rotate(1turn);
    }
}

.file-drop {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

    .file-drop > .file-drop-target {
        -moz-transition: all 150ms linear;
        -ms-flex-align: center;
        -ms-flex-direction: column;
        -ms-flex-line-pack: center;
        -ms-flex-pack: center;
        -ms-transition: all 150ms linear;
        -o-transition: all 150ms linear;
        -webkit-align-content: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-box-pack: center;
        -webkit-flex-direction: column;
        -webkit-justify-content: center;
        -webkit-transition: all 150ms linear;
        align-content: center;
        align-items: center;
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        flex-direction: column;
        font-weight: bold;
        height: 100%;
        justify-content: center;
        left: 0;
        opacity: 0;
        position: absolute;
        text-align: center;
        top: 0;
        /* --------------- */
        /* a little transition sizzle */
        transition: all 150ms linear;
        width: 100%;
        /* --------------- */
    }
    .file-drop > .file-drop-target > .inner { 
        -moz-transition: all 150ms linear;
        -ms-flex-align: center;
        -ms-flex-direction: column;
        -ms-flex-line-pack: center;
        -ms-flex-pack: center;
        -ms-transition: all 150ms linear;
        -o-transition: all 150ms linear;
        -webkit-align-content: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-box-pack: center;
        -webkit-flex-direction: column;
        -webkit-justify-content: center;
        -webkit-transition: all 150ms linear;
        align-content: center;
        align-items: center;
        /*border: 2px dashed #ccc;*/
        bottom: 20px;
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox; flex-direction: column; height: auto; left: 20px;  position:absolute; right: 20px; top: 20px; width: auto;}
    .file-drop > .file-drop-target h4 { font-weight: bold; }

        .file-drop > .file-drop-target.file-drop-dragging-over-frame {
            background-color: rgba(153, 153, 153, 0.85);
            color: #fff;
            opacity: 1.0;
            z-index: 9999;
        }

        .file-drop > .file-drop-target.file-drop-dragging-over-target {
        }
