@using Newtonsoft.Json
@using Web.Engine
@inject ISelectListProvider SelectListProvider
@inject IUserContext UserAccessor
@{
    var libraries = await SelectListProvider.GetLibraries(UserAccessor.UserId);
}
<div id="my-spa">Loading...</div>
@section styles {
    <link rel="stylesheet" href="~/dist/vendor.bundle.css" asp-append-version="true" />
}
@section scripts {
    <script src="~/dist/vendor.bundle.js" asp-append-version="true"></script>
    <script src="~/dist/main.js" asp-append-version="true"></script>
}