@using Newtonsoft.Json
@using Web.Engine
@inject ISelectListProvider SelectListProvider
@inject IUserAccessor UserAccessor

<div id="content"></div>

@section scripts {
    <script>
        var SearchBox = React.createFactory(require('SearchBox'));
        ReactDOM.render(
            SearchBox({
                searchUrl: "/api/search",
                addDocumentUrl: "/api/documents",
                libraries: @Html.Raw(JsonConvert.SerializeObject(await SelectListProvider.GetLibraries(UserAccessor.UserId)))
            }),
            document.getElementById('content')
        );
    </script>
}