@using System.Threading.Tasks
@using Web.Engine
@inject ISelectListProvider SelectListProvider
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
<link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet"/>
<link href="~/lib/react-select/dist/react-select.min.css"/>

<div id="content"></div>
@Html.React("SearchBox", new
{
    searchUrl = "/api/search",
    addDocumentUrl = "/api/documents",
    libraries = await SelectListProvider.GetLibraries()
})

@section scripts {
    <environment names="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="@Url.Content("~/js/dist/clientBundle.js")"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="@Url.Content("~/js/dist/clientBundle.js")"></script>
    </environment>
    @Html.ReactInitJavaScript()
}