@using System.Threading.Tasks
@using Web.Engine
@inject ISelectListProvider SelectListProvider

<div id="content"></div>

@Html.React("SearchBox", new
{
    url = "/api/v1/search",
    libraries = await SelectListProvider.GetLibraries()
})

@section scripts {
    <script src="https://fb.me/react-0.14.7.js"></script>
    <script src="https://fb.me/react-dom-0.14.7.js"></script>
    <script src="@Url.Content("~/js/document-index.jsx")"></script>
    @Html.ReactInitJavaScript()
}